@font-face {
  font-family: "General Sans";
  src: url('./fonts/GeneralSans-Regular.woff') format("woff");
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
body {
  font-family: "General Sans";
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
